<form method=post action="/">
    <h1><a href="http://tux.it"><img src="/img/tuxit.gif" width="85" height="38" alt="tux.it URL shortener" /></a></h1>
		<input name="url" id="url" type="text" value="your URL here" onfocus="removePlaceholder(this);" onblur="setPlaceholder(this);" />
		<input id="shout" type="image" src="/img/shout.gif" alt="shout" />
</form>