<form method=post>
		<input name="url" id="url" type="text" value="your URL here" onfocus="removePlaceholder(this);" onblur="setPlaceholder(this);" />
		<input id="shout" type="image" src="/img/shout.gif" />
</form>
