<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset=utf-8 /> 
    <meta name="viewport" content="width=620" /> 
    <title>tux.it url shortener</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" /> 
  </head> 
  <body>
  <%= yield %>
  <footer>
    &copy; Enrico Rubboli | <a href="http://github.com/dn2k/tux.it">source code</a> | this site is for testing only, not reliable yet! 
    <script type="text/javascript">
    
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-534341-8']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
     </script>
  </footer>
  </body>
</html>