<!DOCTYPE html> 
<html lang="en"> 

  <head> 
    <title>tux.it url shortener</title>
    <meta charset=utf-8 /> 
    <meta name="viewport" content="width=620" />
    <meta name="keywords" content="tux, url shortner, " />
    <meta name="author" content="Enrico Rubboli - template by Roberto Kalamun Pasini" />
    <meta name="revisit-after" content="7 days" />
    <link rel="shortcut icon" href="/favicon.png" />
    <style type="text/css" media="screen">
    	@import "/css/screen.css";
    </style>
    <script type="text/javascript" src="/js/layout.js"></script> 
  </head>
  
  <body>
    
    <div id="container">
      <%= yield %>
    </div>
    
    <footer>
      <div id="footer">
        <p>
          &copy; <a href="http://www.rubboli.it/">Enrico Rubboli</a> | designed by <a href="http://www.kalamun.org">Kalamun</a> |  hosted by <a href="http://www.heroku.com"><img src="/img/heroku.gif" alt="Heroku" width="54" height="17" /></a> | webfont by <a href="http://www.josbuivenga.demon.nl/">Exljbris</a><br />
          <a href="http://github.com/dn2k/tux.it">Project Source Code</a> | <a href="http://github.com/dn2k/tux.it/issues"> Report a bug </a>
        </p>
      </div>
    </footer>
    
  <script>    
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-534341-8']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
  </script>

  </body>
</html>