<h1>tux.it url shortener</h1>
<form method=post action="/">
  <input name="url" type=text />
  <input type=submit value=Shout>
</form>

<% unless @urls.nil? %>
<ol>
  <% @urls.each do |url| %>
  <li> <%= h url.address %> => <a href="/<%= h url.mini %>"><%= h url.mini%></a>(<%= h url.views.count %>)</li>
  <% end %>
</ol>
<% end %>