<%= form_tag('/new', :remote => true) do %>
<div style="padding:0; display:inline; margin:0"></div>
    <%= url_field :url, :address %>
        <div style="background:url(images/tuxlittle.gif); margin-top:-50px; height:32px; width:32px; float:right; background-repeat:no-repeat;">
        </div>
    <%= image_submit_tag 'pulsante0.png', :id => 'shout' %>
<% end %>
