<div id="answer"><h1>The Development Team</h1>
    <div id="sezione" style='text-align:left'>
      <ul>
        <li><b>The Developers</b>: <a href="http://rubbo.li">Enrico Rubboli</a>,
          <a href="http://www.davidetaviani.com">Davide Taviani</a>, Antonio Pedroni </li>
          <li><b>Designer</b>: Giuseppe Gerbino </li>
          <li><b>Special Thanks</b>: <a href="http://www.kalamun.org">Roberto Pasini</a> </li>
      </ul>              
    </div>
	</div>
</div>