<div id="footer">
  <div class="footer1">
    <%= link_to("Credits",credits_path)%> |  hosted by
    <a href="http://www.heroku.com">Heroku</a> | webfont by
    <a href="http://www.josbuivenga.demon.nl/">Exljbris</a>
  </div>
  <div class="footer2">
      <iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=dn2k&repo=tux.it&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
  <iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=dn2k&repo=tux.it&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
<!--    <a href="http://github.com/dn2k/tux.it/issues"> report a bug </a>+ -->
  </div>
</div>
<a href="http://www.tux.it"><img style="position:absolute; bottom:0px; left:0px; border:0" src="images/tuxbig.png" alt="Tux.it, the URL shortner" /></a>