<div id="footer">
  <div class="footer1">
    <%= link_to("Credits",credits_path)%> |  hosted by
    <a href="http://www.heroku.com">Heroku</a> | webfont by
    <a href="http://www.josbuivenga.demon.nl/">Exljbris</a>
  </div>
  <div class="footer2">
    <a href="http://github.com/dn2k/tux.it">source code</a> |
    <a href="http://github.com/dn2k/tux.it/issues"> report a bug </a>+
  </div>
</div>
<a href="http://www.tux.it"><img style="position:absolute; bottom:0px; left:0px; border:0" src="images/tuxbig.png" alt="Tux.it, the URL shortner" /></a>